@font-face {
    font-family: 'GT America Trial';
    src: url('../fonts/GT-America/GT-America-Extended-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial';
    src: url('../fonts/GT-America/GT-America-Extended-Light-Trial.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Trial';
    src: url('../fonts/GT-America/GT-America-Extended-Thin-Trial.woff2') format('woff2');
    font-weight: 275;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader'; 
    src: url("../fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf");
    font-weight: 200 900; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader'; 
    src: url("../fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf");
    font-weight: 200 900; 
    font-style: italic; 
    font-display: swap;
}

:root {
    --gt-a-trial: 'GT America Trial', sans-serif;
    --nr-var: 'Newsreader', serif;
    --gold: #D3BF89;
    --dark: #141317;
    --cream: #FFF8EE;
    --white: #FFFFFF;
    --gray: #8C8C8C;
    --spacing-sm: 0.8rem;
    --spacing-md: 1.4rem;
    --spacing-lg: 2.4rem;
    --spacing-xl: 3rem;
    --padding: 1.4rem 2rem;
    --gap-default: 2.4rem;
    --site-width: 144rem;
    --img-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: var(--gt-a-trial);
    font-weight: 300;
    background: var(--dark);
    color: var(--cream);
    line-height: 1;
}

.title {
    letter-spacing: .1rem;
    text-transform: uppercase; 
    text-align: center;
    line-height: 105%;
}


h1 {
    font-size: 5rem;
    font-weight: 275;
    max-width: 84.2rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 300; 
}

h3 {
    font-size: 2.2rem;
    font-weight: 300;
}

.description {
    font-family: var(--nr-var);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    max-width: 45.6rem;
    letter-spacing: 0;
}

header {
    height: auto;
}

.gold-text {
    color: var(--gold);
}

.banner {
    background: var(--gold);
    color: var(--dark);
    font-size: 1.1rem;
    height: 3rem;
    padding: 0 0.7rem;
    line-height: 1;
    letter-spacing: 0.3rem;
}

.banner .close {
    font-size: 1.6rem;
    position: relative;
    transform: translateY(-10%);
}

.banner a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.5px solid var(--dark);
}

nav {
    height: 10.5rem;
    max-width: 136rem;
    margin: auto;
    padding: 0 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

nav img {
    height: 6.5rem;
    width: 10.4rem;
}

nav div {
    display: flex;
    width: 33%;
}

.align-right {
    justify-content: end;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: inherit;
    padding: var(--spacing-md) 0;
}

.book-room-btn {
    display: inline-block;
    width: 14.9rem;
    padding: var(--spacing-md) 1.7rem; /* adjust from 2rem to fix rendering issues*/
    background: var(--gold);
    border: 1px solid var(--gold);
    color: var(--dark);
    text-align: center;
    font-size: 1.2rem;
}

ul a img, .dropdown-img {
    width: .8rem;
    height: .7rem;
    display: inline;
}

.drop-down {
    position: relative;
}

.submenu {
    width: 25rem;
    margin-top: 1.6rem;
    display: none;
    flex-direction: column;
    gap: .1rem;
    position: absolute;
    background: var(--dark);
    z-index: 1;
    border: 1px solid var(--gold);
    padding: .5rem;
}

.submenu li {
    width: 100%;
    padding: var(--padding);
    transition: .2s ease;
}

.submenu li:hover {
    background: rgba(255,255,255,0.1);
}

.dropdown:hover .submenu {
    display: flex;
}

section {
    width: 100%;
    max-width: var(--site-width);
    margin: auto;
    margin-bottom: 12.25rem;
}

.kicker {
    color: var(--gold);
    font-family: var(--nr-var);
    font-style: italic;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.04rem;
    text-align: center;
}

.hero {
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 29.46%, rgba(0, 0, 0, 0.5) 100%), url("../img/hero.jpg") center/cover no-repeat; 
    height: 68.9rem;
    max-width: 136rem;
    margin: auto;
}

.hero div {
    height: 14.9rem;
}

.hero-form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -3.5rem;
}

.hero-form-wrapper form {
    display: flex;
    justify-content: center;
    width: 124.0rem;
    height: 7rem;
    border: none;
}

.hero-form-wrapper form label,  .hero-form-wrapper form input[type="submit"] {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--cream);
    border: none;
    outline: none;
    color: var(--gray);
    font-family: var(--gt-a-trial);
    font-weight: 300;
    font-size: 1rem;
    padding: 1.5rem 2rem;
}

.hero-form-wrapper form label:not(first-child) {
    border-left: 1px solid var(--gray);
}

.hero-form-wrapper form input[type="submit"] {
    background: var(--gold);
    color: var(--dark);
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.hero-form-wrapper form input[name="check-in"] {
    max-width: 6.8rem;
}

.hero-form-wrapper form label div {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.hero-form-wrapper form label * {
    display: block;
    font-family: var(--nr-var);
    font-weight: 400;
    font-size: 1.6rem;
    background-color: var(--cream);
    border: none;
    outline: none;
}

.hero-form-wrapper form label img {
    display: inline;
    width: .6rem;
    height: .5rem; 
}

::placeholder, ::-webkit-input-placeholder {
  font-family: var(--nr-var);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark);
  opacity: 1;
}

.explore-section > div:not(:last-child) {
    padding-bottom: 12.25rem;
}

.explore-titles {
    gap: var(--gap-default);
    margin-bottom: 5.4rem;
}

.explore-titles .description {
    text-align: center;
    margin: 1.2rem auto;
}

/* to accomplish this and scroll left a bit of js is required*/

.explore-imgs{
    /*margin-top: 5.9rem;*/
    gap: var(--gap-default);
    overflow-x: auto;
}

.explore-imgs:nth-of-type(1) {
    max-width: 124rem;
    margin: auto;
}

.explore-imgs a {
    position: relative;
    flex: 1;
    height: 38.9rem;
    min-width: 29.2rem;
    color: var(--cream);
}

.img {
    background-image:var(--bg-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.explore-imgs:nth-of-type(1) a {
    height: 52.9rem;
    max-width: 37.9rem;
    background-image:var(--bg-url);
}

.explore-imgs a {
    background-image: var(--img-overlay), var(--bg-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.explore-imgs a > h3 {
    position: absolute;
    left: var(--spacing-lg);
    bottom: var(--spacing-lg);
}

.explore-btns {
    gap: 2.0rem;
    max-width: 48.4rem;
    height: 3.7rem;
    margin: auto;
    margin-bottom: var(--spacing-lg);
}

.explore-btns a {
    border: 1px solid white;
    flex: 1;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--cream);
    border: 1px solid var(--gold);
    letter-spacing: .1rem;
    padding: var(--padding);
}

.explore-btns a:nth-child(2) {
    color: var(--dark);
    background: var(--gold); 
}

.explore-icon {
    margin-top: 5rem;
    margin-bottom: 0;
}

.explore-icon img {
    margin: auto;
}

.explore-icon img:nth-child(2) {
    margin-top: -2.6rem;
}

.explore-links {
    gap: var(--gap-default);
}

.explore-links div {
    flex 1;
    width: 37.9rem; 
    padding: var(--spacing-lg) 0;
}

.explore-links * {
   text-align: left;
   padding: .7rem 0;
   text-decoration: none;
}


.explore-links a {
    display: flex;
    gap: 1.6rem;
}

.explore-links p {
    font-weight: 400;
    font-size: 1.2rem;
}

.features {
    display: flex;
    max-width: var(--site-width);
    gap: var(--spacing-lg);
}

.features .img, .img-wrapper {
    width: 81.3rem;
    height: 54.2rem;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 0;
}


.features .info {
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    max-width: 40.3rem;
    flex-grow: 1;
    margin: auto;
    padding: 0 var(--spacing-sm);
}   

.features h2 {
    text-align: left;
    margin-top: var(--spacing-lg);
    margin-bottom: calc(var(--spacing-lg) + 1.6rem);
}

.features .btn {
    margin-top:  calc(var(--spacing-lg) * 2);
    width: 100%;
}

.features .img-wrapper {
    display: flex;
    gap: 4rem;
    min-width: 0;
}

.img.double {
    height: 57.9rem;
    max-width: 38.6rem;
    min-width: 20rem;
    flex-shrink: 1;
}

.slideshow > div {
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), var(--bg-url);
    background-position: right center;
    background-size: 120% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 72rem;
    color: var(--cream);
}

.slideshow h2 {
    text-align: left;
    max-width: 124rem;
    margin: auto;
    margin-top: var(--spacing-lg);
}

.slideshow p {
    font-family: var(--nr-var);
    color: var(--cream);
    font-size: 1.6rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0;
}

.slideshow h2 {}

.slideshow-nav {
    position: absolute;
    max-width: 124rem;
    height: 4.6rem;
    margin: auto;
    left: 0;
    right: 0;
    bottom: var(--spacing-lg);
}

.offer-imgs {
    max-width: 124rem;
    gap: 2.5rem !important;
}

.offer-imgs a {
  max-width: 39.7rem !important;
  height: 29.8rem !important;
}

.offer-links {
    max-width: 124rem;
    margin: auto;
}

.offer-links .description {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 1.6rem; /*gap default + 1.6rem to make 4rem;*/
}

.booking_call .img {
    flex: 1;
    height: 47rem;
    gap: 4rem;
    background-image: linear-gradient(#00000080, #00000080), var(--bg-url);
}

.booking_call .btn {
    background: none;
    padding: 1.4rem 3.2rem;
    width: 28.3rem;
    min-height: 3.7rem;
}

footer {
    padding-bottom: calc(var(--spacing-lg) * 2);
}

.footer-wrapper {
    padding: 0 9rem;
    max-width: var(--site-width);
    margin: auto;
    height: calc(47.4rem - 7.2rem);
}

.footer-wrapper div {
    flex: 1;
}

.footer-wrapper .logo {
    width: 15.5rem;
    height: 9.7rem;
}

.footer-links {
    gap: 1.4rem;
}

.footer-links h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-links li, .footer-base {
    margin-top: 1.5rem;
    font-family: var(--nr-var);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0;
}

.footer-links a {
    text-decoration: none;
    color: var(--cream);
}

.footer-base {
    margin: 0 auto;
    max-width: var(--site-width);
    padding: 0 9rem;
}

.footer-base * {
    font-size: 1.2rem;
    margin-top: 0;
    text-decoration: none;
    color: var(--cream);
    max-width: 1;
}

.socials {
    gap: 1.4rem;
}

#arrow-svg {
    animation: reverse-reveal-animation linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 33%;
    opacity: 0;
    transform: translateY(0);
}


#ellipse-svg {
    animation: appear-animation linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
    opacity: 0;
}

.explore-titles p, .explore-titles h2, .explore-btns, .info {
    animation: reveal-animation linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
    opacity: 0;
}

.hero-titles .kicker, .hero-titles h1  {
    animation: reveal-animation ease-in-out forwards;
    animation-duration: 1.8s;
    animation-delay: 0.3s;
    opacity: 0;
}

.hero-titles h1 {
    animation-delay: 1s;
}

@keyframes reverse-reveal-animation {
    from {
        opacity: 0;
        transform: translateY(-5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reveal-animation {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse-animation {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}


